<div class = "page">





 

   {%section 'topbar'%}
   {% section 'header' %}
   {% section 'main-banner'%}
   {% section 'home-cards'%}
   {% section 'home-benefits-strip'%}
   {% section 'home-new-trouville'%}
  





    {% section 'main-banners'%}


</div>
