<header>
    <div class="container header">
        <div class="header__left">
            <div class="main-logo">
                <a class="main-logo-laptop" href="index.html"><img src="minified/main-logo.png" alt="Vitus"></a>
                <a class="main-logo-mobile" href="index.html"><img src="/minified/header-mobile-main-logo.png" alt="Vitus"></a>
            </div>
            <nav class="nav">
                <ul class="main-nav">
                    <li class="nav__item">
                        <a href="catalog.html">CATALOG</a>
                    </li>
                    <li class="nav__item">
                        <a href="about.html">ABOUT US</a>
                    </li>
                    <li class="nav__item">
                        <a href="faq.html">FAQ</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header__right">
            <ul class="account-settings">
                <li class="account-settings__item">
                    <a href="/basket.html">
                        <img src="img/account settings/basket.svg" alt="basket">
                    </a>
                </li>
                <li class="account-settings__item">
                    <a href="#">
                        <img src="img/account settings/selected.svg" alt="selected">
                    </a>
                </li>
                <li class="account-settings__item">
                    <a href="#">
                        <img src="img/account settings/profile.svg" alt="profile">
                    </a>
                </li>
            </ul>

            <div class="header__right-mobile">
                <div class="basket__mobile">
                    <a href="/basket.html">
                        <img src="img/account settings/basket.svg" alt="basket">
                    </a>
                </div>

                <div class="header__burger">
                    <span></span>
                </div>

                <nav class="header__mobile-nav">
                    <ul class="header__mobile-nav__list">
                        <li class="header__mobile-nav__link">
                            <a href="/catalog.html">CATALOG</a>
                            <a href="/catalog.html"><img class="op-05" src="/img/burger-link-icon/catalog-link.svg" alt=""></a>
                        </li>
                        <li class="header__mobile-nav__link">
                            <a href="about.html">ABOUT US</a>
                            <a href="about.html"><img class="op-05" src="/img/burger-link-icon/about-us-link.svg" alt=""></a>
                        </li>
                        <li class="header__mobile-nav__link">
                            <a href="faq.html">FAQ</a>
                            <a href="faq.html"><img class="op-05" src="/img/burger-link-icon/FAQ-link.svg" alt=""></a>
                        </li>
                        <li class="header__mobile-nav__link">
                            <a href="#">PROFILE</a>
                            <a href="#"><img src="/img/burger-link-icon/profile-link.svg" alt=""></a>
                        </li>
                        <li class="header__mobile-nav__link">
                            <a href="#">SELECTED</a>
                            <a href="#"><img src="/img/burger-link-icon/selected-link.svg" alt=""></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

{% schema %}
{"name": {
    "en": "Header"
},
"settings": []
    
}
{% endschema %}