<div class="benefits-strip">
    <div class="container benefits-strip__content">
        <div class="secure">
            <img src="/img/benefits-strip/secure.svg" alt="">
            <p class="secure__text">SECURE CHECKOUT</p>
        </div>
        <div class="free-shipping">
            <img src="/img/benefits-strip/world-free.svg" alt="">
            <p class="secure__text">FREE SHIPPING & RETURN</p>
        </div>
        <div class="warranty">
            <img src="/img/benefits-strip/warranty.svg" alt="">
            <p class="secure__text">1 YEAR WARRANTY</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": {
    "en":"Benefits-strip"
    },
    "settings": [
        
    ]

}
{% endschema %}