<div class="main-banner">
    <div class="container">
        <div class="main-banner__content">
            <p class="main-banner__preview">Lorem ipsum dolor sit amet</p>
            <h1 class="main-banner__title">Pro nisl dolor ut</h1>
            <a href="#" class="main-banner__button">BUTTON</a>
        </div>
    </div>
</div>