<div class="banners">
    <div class="banner__1">
        <div class="banner__text-1">
            <p class="subtitle-1">MASSAGER</p>
            <a href="#"><h1 class="banner__title-1">MAKE RELAX</h1></a>
            <p class="subtitle-2">Lorem ipsum dolor sit amet, eum<br>
            facilisis repudiare in.</p>
        </div>
    </div>
    <div class="banner__2">
        <div class="banner__text-1">
            <p class="subtitle-1">GADGET</p>
            <a href="product.html" target="_blank"><h1 class="banner__title-1">HAMIDIFIER BLACK</h1></a>
            <p class="subtitle-2">Lorem ipsum dolor sit amet, eum facilisis<br>
            repudiare in, elit wisi te vim.</p>
        </div>
    </div>
    <div class="banner__3">
        <div class="banner__3-1">
            <div class="banner__text-2">
                <p class="subtitle-1">LAMPS</p>
                <a href="#"><h1 class="banner__title-1">SCANDI STYLE</h1></a>
                <p class="subtitle-2">Lorem ipsum dolor sit amet, eum facilisis repudiare in.</p>
            </div>
        </div>
        <div class="banner__3-2">
            <div class="banner__text-2">
                <p class="subtitle-1">SOUND</p>
                <a href="#"><h1 class="banner__title-1">SOUND GADGETS</h1></a>
                <p class="subtitle-2">Lorem ipsum dolor sit amet, eum facilisis repudiare in.</p>
            </div>
        </div>
    </div>
</div>
    <div class="slider-dot">
        <span class="active"></span>
        <span></span>
        <span></span>
    </div>


{% schema %}
{
    "name": {
    "en":"Main-banners"
    },
    "settings": [
        
    ]
}
{% endschema %}