<div class="top-bar">
    <div class="container">
        <div class="top-bar__text">
            <div class="top-bar__tablet-text">
                <a href="#">Help & FAQs</a>
            </div>

            Free shipping & return. <a href="#">Find out more</a>

            <div class="close__top-bar">
                <a href="#">
                    <img src="/minified/close_top-bar.svg" alt="close">
                </a>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name":{
        "en":"Topbar"
    },
    "settings": [
        
    ]    
}
{% endschema %}