
$body__bg-color:   #2e2e2e;
$text-color-1:     #ffffff;
$header__bg-color: #212121;
$secondary-blue:   #7A5CE6;
$card__hover-bg:   #1a1a1a;
$button-hover:     #593CC0;
$active:           #997DFF;

$laptop_l-bp: 1281px;
$laptop-bp: 1025px;
$tablet-bp: 824px;
$mobile_l-bp: 668px; 
$mobile_s-bp: 321px; 